/Temp
/obj
/UnityGenerated
/Library
/Assets/Temp/
/Assets/AD_SDK/Temp/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
Temp.meta
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.sublime-project
*.sublime-workspace
Assets/NGUI/Examples/Resources.meta
Assets/Plugins/Android/bin.meta
Assets/JDKLib/Editor/Android/jdkplugin/local.properties
Assets/JDKLib/Editor/Android/jdkplugin/local.properties.meta
Assets/JDKLib/Editor/Android/jdkplugin/src/main/gen/com/test/Manifest.java
Assets/JDKLib/Editor/Android/jdkplugin/src/main/gen/com/test/R.java
Assets/Editor/JDKLib/Resources/TiledMapImportSettings.asset